.btn-primary,
.btn-default:hover,
.modal-profile .details .position,
header.navbar .navbar-toggle .icon-bar,
#toggle-navbar,
.pricing-table .pricing-title,
.progress-bar,
.progress:hover .progress-bar,
#portfolio-filter li.active,#about .about-block:hover .circle { background: #ffd801; }

#portfolio-list li:hover .more:hover:before,.team-nav li.active,.pane a.more ,.googlemap,.postlist .thumb,.postcontent h5 a:hover{ color: #ffd801; border-color: #ffd801; }
.arrow-down { border-top-color: #ffd801; }
header.navbar .navbar-nav li.active a {
  box-shadow:0 0 92px 1px rgba(255,216,1, 0.4);
  -webkit-box-shadow:0 0 92px 1px rgba(255,216,1, 0.4);
  -moz-box-shadow:0 0 92px 1px rgba(255,216,1, 0.4);
  -o-box-shadow:0 0 92px 1px rgba(255,216,1, 0.4);}
a,.pane h3,.getNum,.processLead-list li a i,#issues li h1,.service:hover .service-title .title,#close-pricing i, #close-pricing2 i, #close-pricing3 i{color:#ffd801;}
.messageHeader span.purple,#home .go,.date,.quotepost{background:rgba(255,216,1, 0.9);background-image: url("../../images/05_bgpattern.png");}
#about .about-block .circle{background-color:rgba(255,216,1, 0.7);border:30px solid rgba(255,255,255, 0.8)}

#services,.bx-wrapper .bx-controls .bx-pager .bx-pager-item a.active:after,#contactform .btn-default,.pricing-col2,.pricingtable .btn:hover{background:#ffd801;}
.bg-discovery,.bg-planning,.bg-design,.bg-develop,.bg-launch,.pricing-col1{background:none repeat scroll 0 0 #fef7b3;}
#portfolio-list li .portfolio-item-content{background:url("../../images/05_bgpattern.png") repeat scroll 0 0 rgba(255,216,1, 0.9);}
#testimonials .background-overlay{background-color:rgba(255,216,1, 0.9)}
.mail-message [contenteditable="true"]{border-bottom:6px dotted #ffd801;color:#ffd801}
.btn-footer{background:#ffd801;border:1px solid #ffd801}